*{
	margin: 0;
	padding: 0;
}

body { 
    
}

.panel {
    position: relative;
    height: 100%;
    z-index: 5;
    }
    .panel-fixed {
        z-index: 1;
        }
    .panel-inner {
        
        width: 100%;
		height: 100%;
        }

    .panel-fixed .panel-inner {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        }

.panel-one {
	background-color:white;
}


.panel-two {
    background-color: rgba(239, 236, 202, 0.7);
    }

.panel-three {
    background-color: rgba(239, 236, 202, 0.7);
    }

#about_us-kiri
{
	position:absolute;
    width: 49%;
    height: 98%;
    float: left;
	margin-left: 0.5%;
	margin-bottom: 1%;
    margin-top: 0.5%;
}

#about_us-kanan
{
	display:inline-block;
	position:relative;
    width: 49%;
    height: 98%;
    float: right;
	margin-right: 0.5%;
	margin-bottom: 1.5%;
    margin-top: 0.5%;
}
/* Base */
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }


.box{
    position: absolute;
    display: inline-block;
    margin-top: 18%;
    left: 10%;
    width: 30%;
}

.box2{
    position: absolute;
    border-style: solid;
    border-color: #999999;
    border-radius: 2%;
    margin-left: 50%;
    margin-top: -10%;
    max-height: 50%;
    overflow: auto;
    width: 49%;
}

.name{
    margin-left: 6%;
}

.comment{
    margin-left: 15%;
    height: 10%;
    width: 80%;
}

<style type="text/css">
.form{
    width: 450px;
    font-size: 16px;
    background: #495C70;
    padding: 30px 30px 15px 30px;
    border: 5px solid #53687E;
}
.form input[type=submit],
.form input[type=button],
.form input[type=text],
.form textarea,
.form label
{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    color: #fff;

}
.form label {
    display:block;
    margin-bottom: 10px;
}
.form label > span{
    display: inline-block;
    float: left;
    width: 150px;
}
.form input[type=text]
{
    background: transparent;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 275px;
    outline: none;
    padding: 0px 0px 0px 0px;
    font-style: italic;
}
.form textarea{
    font-style: italic;
    padding: 0px 0px 0px 0px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 275px;
    overflow: hidden;
    resize:none;
    height:20px;
}

.form textarea:focus, 
.form input[type=text]:focus
{
    border-bottom: 1px dashed #D9FFA9;
}

.form input[type=submit],
.form input[type=button]{
    background: #576E86;
    border: none;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    color: #A8BACE;
}
.form input[type=submit]:hover,
.form input[type=button]:hover{
background: #394D61;
}

.footer{
    position: relative;
    margin-top: 24%;
    width: 100%;
    height: 30%;
}

.footer2{
    position: relative;
    display: inline-block;
    margin-left: 6%;
    width: 25%;
    height: 100%;
    border-top-style: dashed;
}

.judul{
    font-style: italic;
    font-size: 24px;
    color: white;
    margin-bottom: 15px;
    margin-top: 15px;
}

.isi{
    font-style: italic;
    font-size: 20px;
    color: white;
    margin-bottom: 6px;
}

.isi2{
    display: inline-block;
    margin-left: 45px;
}