*{
	padding: 0;
	margin: 0;
}

#welcome{
	position:absolute;
	width:100%;
	height:100%;
	background:-moz-linear-gradient(#002F2F, #046380);
	background:-webkit-linear-gradient(#002F2F, #046380);
}

#welcome #welcome_text{
	margin-top: 16%;
	text-align: center;
	color:#EFECCA;
	font-size: 500%;
	font-family: Chewy;
}

#welcome #welcome_click{
	cursor: pointer;
	margin-top:1%;
	margin-left: 37.5%;
	width: 25%;
	border: 1px solid #EFECCA;
	border-radius: 15px;
	text-align: center;
	color:#EFECCA;
	font-size: 300%;
	font-family: Arial;
	font-weigth: 100;
}

#welcome #welcome_click:hover{
	background-color:#EFECCA;
	color:#046380
}